html {
  scroll-behavior: smooth;
  font-size: 1.3em;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-spacing: 100px;
  background-color: #333;
  
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

.logo {
  font-size: 1.8rem;
  color: #00FF00;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.8rem;
  display: flex;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00FF00;
}

.section {
  padding: 100px 30px;
  text-align: center;
}

.home {
  background: linear-gradient(135deg, #00FF00, #000);
}

.about, .projects, .contact {
  background-color: #111;
}

h1, h2 {
  color: #00FF00;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  background-color: #222;
  margin: 10px;
  padding: 20px;
  border: 1px solid #333;
  width: 300px;
  transition: transform 0.3s;
}

.project-item:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}

.form_container {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
  row-gap: 20px;
}

.form_container label, .form_container textarea {
  display: flex;
  width: 80%;
  border: 2px;
  text-align: left;
  border-radius: 5px;
}

.form_container #name, .form_container #email {
  height: 16px;
}

.form_container #message {
  height: 150px;
}

.form_container textarea {
  padding: 1rem;
  border-color:solid #333;
  background-color: #222;
  color: #fff;
  resize: none;
  text-align: left;
}

form button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00FF00;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #00CC00;
}

footer {
  padding: 20px;
  background-color: #333;
  text-align: center;
}
